.app {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
}

input {
  padding: 10px 5px;
  font-size: 16px;
  border-radius: 5px;
  border-color: grey;
}

input::placeholder {
  color: grey;
  font-weight: 500;
}

.search-panel {
  margin: 1rem 0;
  display: flex;
}

.search-panel .search-input {
  width: auto;
  flex-grow: 1;
  margin-right: 3px;
  margin-right: 5px;
}