.app-list-item {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 5px;
  background-color: aliceblue;
}

.app-list-item.post-text {
  color: #000;
}

.app-list-item .post-text.important {
  font-weight: bold;
  color: green;
}

.app-list-item button {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  padding: 5px;
  background-color: #C6CEBE;
  border: 1px solid #000;
  border-radius: 3px;
}

.app-list-item button:focus {
    box-shadow: none;
    outline: none;
}

.app-list-item .btn-group {
  display: flex;
  align-items: center;

}

.app-list-item .btn-group .trash, .app-list-item .btn-group .star  {
  width: 20px;
  height: 20px;
}

.app-list-item .btn-group .star, .app-list-item .btn-group .heart {
  fill: gray;
}

.app-list-item .btn-group .heart.active {
  fill: red;
}

.app-list-item .btn-group .star.important {
  fill: yellow;
}

.app-list-item .btn-group .trash {
  fill: red;
}

.app-list-item-label {
  display: block;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
  transition: 0.5s all;
}



.app-list-item.important .app-list-item-label {
  color: #FFD700;
}

.app-list-item.important .btn-star {
    color: #aeaeae;
}
